{% extends "base.html" %}

{% block title %}
    Login - {{ block.super }}
{% endblock %}

{% block content %}
{#    <h3>Login</h3>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" class="btn btn-danger" value="Login">#}
{#    </form>#}
    <div class="container">

    <h4>Login</h4>
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div> {% endif %}
                {% load widget_tweaks %}
                    {% for field in form %}
                        <div class="form-group py-1 {% if field.errors %} alert alert-danger {% endif %}">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}<small class="text-muted">{{ field.help_text|safe }}</small> {% endif %}

                        </div>
                    {% endfor %}
                <input type="submit" class="btn btn-danger" value="Login">
            </form>
        </div>
    </div>
</div>
{% endblock %}